body {
  background-color: #131d27;
}

.App {
  text-align: center;
}

/* 動的なスタイルはインラインに記述 */
.App-logo {
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-color,
.App-link {
  color: #f96854;
}

/* 標準スタイルのリセット */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.button {
  font-size: 30px;
  color: #f96854;
}

ul {
  list-style: none;
  text-align: left;
}

.timer-font {
  font-weight: 800;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.switch-bottom {
  font-size: 2rem;
  font-weight: 600;
  color: #131d27;
  width: 100px;
  height: 100px;
  background-image: url('./switch.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.create-task-input {
  width: 80%;
  height: 30px;
  font-size: 1.8rem;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
}
